{% extends 'main/base.html' %}

{% block content %}
<h2>About Me</h2>

<h4>Riwayat Pendidikan</h4>
<table class="table table-bordered">
  <tr>
    <th>Tahun</th>
    <th>Ajaran</th>
  </tr>
  <tr>
    <td>2025 - Sekarang</td>
    <td>STT-NF</td>
  </tr>
  <tr>
    <td>2022-2025</td>
    <td>SMAIT Fitrah Insani Bandar Lampung</td>
  </tr>
</table>

<h4>Organisasi</h4>
<table class="table table-bordered">
  <tr>
    <th>Tahun</th>
    <th>Organisasi</th>
  </tr>
  <tr>
    <td>2025</td>
    <td>SENADA</td>
  </tr>
  <tr>
    <td>-</td>
    <td>-</td>
  </tr>
</table>
{% endblock %}
